.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* used for latitude and longitude */


.vl { 
  border-left: 1px solid #aaa;
  height: inherit;
  position: absolute;
  z-index: 1;
  top: auto;
}
.geography{
  border: 3px solid pink;
  width: 50%;
  height: 400px;
  display: inline-flex;
  left: 50%;
}
.chl {
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1;
  border: solid 1px #aaa;
 border-color: transparent transparent #aaa transparent;
 border-radius: 50%;
}
/* set of curved horizontal lines */
#hrlines{ 
  border: 1px solid blue;
  height: inherit;
  width: inherit;
  position: absolute;
  overflow:hidden
}